$break: 800px

$primary-color: rgb(255, 255, 255)
$primary-bg-color: rgb(0, 0, 24)
$secondary-color: rgb(0, 0, 24)
$secondary-bg-color: rgb(255, 255, 255)
$more-light-color: rgb(240, 240, 240)
$light-color: rgb(224, 224, 224)
$less-light-color: rgb(192, 192, 192)
$dark-color: rgb(128, 128, 128)
$more-dark-color: rgb(64, 64, 64)
$point-color: rgb(255, 96, 64)
$link-color: rgb(128, 128, 255)

$menu-base-pixel: 14px
$content-base-pixel: 14px
$code-base-pixel: 14px
$small-pixel: 11px

$menu-height: 4em
$menu-item-width: 10em
$side-margin: 12em
$top-bottom-margin: 3em
$nested-side-margin: 6em
$nested-side-margin-small: 10%
$content-width: calc(100vw - #{$side-margin} - 2 * #{$nested-side-margin})
$scrollbar-width: 10px

$color-change-duration: 0.5s

@keyframes bg-color-secondary-to-light
  from
    background-color: $secondary-bg-color
  to
    background-color: $light-color

@keyframes bg-color-light-to-secondary
  from
    background-color: $light-color
  to
    background-color: $secondary-bg-color

h2
  margin-top: 2.8em

body
  width: 100%
  margin: 0
  padding: 0

a
  text-decoration: none

/* Add ... to overflown statements */
.slur
  overflow: hidden
  text-overflow: ellipsis
  -o-text-overflow: ellipsis
  -ms-text-overflow: ellipsis
  white-space: nowrap

.circle-img
  border-radius: 100%

.flex-box
  display: flex

.table-box
  display: table

/* scrollbar - only for Chrome */
::-webkit-scrollbar
  width: $scrollbar-width

::-webkit-scrollbar-track
  background: transparent

::-webkit-scrollbar-thumb
  background: #888

::-webkit-scrollbar-thumb:hover
  background: #555

.nav
  color: $primary-color
  background-color: $primary-bg-color
  font: $menu-base-pixel "Source Code Pro", "나눔바른고딕 Light", "Bitstream Vera Sans Mono", "Lucida Grande", Helvetica, Arial, sans-serif
  text-align: center
  height: 100vh
  .sticky
    z-index: 10
  .main-nav
    height: $menu-height
    .nav-menu-table-wrapper
      width: 100%
      background-color: $primary-bg-color
      height: calc(#{$menu-height} / 2)
      padding: calc(#{$menu-height} / 4) 0
      &.sticky
        position: fixed
        top: 0
        padding: 0
      .nav-menu-table
        margin: 0 auto
        table-layout: fixed
        td
          width: $menu-item-width
          p, a
            cursor: pointer
            margin: 0
            color: $dark-color
          .selected, .unselected:hover
            color: $primary-color

  .v-center-table
    width: 100%
    height: calc(100% - 2 * #{$menu-height})
    td
      font-size: 4em
    .Typist
      display: inline
      .Cursor--blinking
        animation-name: blinker
        animation-duration: 0.7s
        animation-timing-function: linear
        animation-iteration-count: infinite
        @keyframes blinker
          0%
            opacity: 1.0
          50%
            opacity: 0.0
          100%
            opacity: 1.0
  .subnav
    background-color: $secondary-bg-color
    height: $menu-height
    .subnav-menu-table-wrapper
      width: 100%
      height: calc(#{$menu-height} / 2)
      padding: calc(#{$menu-height} / 4) 0
      animation-name: bg-color-light-to-secondary
      animation-duration: $color-change-duration
      &.sticky
        position: fixed
        background-color: $light-color
        animation-name: bg-color-secondary-to-light
        animation-duration: $color-change-duration
        top: calc(#{$menu-height} / 2)
        padding: 0
      .subnav-menu-table
        margin: 0 auto
        table-layout: fixed
        td
          width: $menu-item-width
          p, a
            color: $dark-color
            cursor: pointer
            margin: 0
          .selected, .unselected:hover
            color: $secondary-color

.content
  color: $secondary-color
  background-color: $secondary-bg-color
  font: $content-base-pixel "나눔바른고딕 Light", "Source Code Pro", "Lucida Grande", Helvetica, Arial, sans-serif
  line-height: 2em
  h1, h2, h3, h4, h5, h6
    font-family: "고양덕양 B", "나눔바른고딕 Light", "Source Code Pro", "Lucida Grande", Helvetica, Arial, sans-serif
  a
    color: $link-color
  .react-router-link
    color: $secondary-color
  del
    color: $less-light-color
  blockquote
    font-style: italic
    border-left: solid 5px #444
    padding: 0.5em 2.5em
    margin: 0
  table
    width: 100%
    line-height: 1.2em
  img
    display: table
    margin: 0 auto
  pre
    margin: 1.5em 5%
    padding: 0.7em
    border-radius: 1em
    line-height: 1.4em
    box-shadow: 5px 5px 10px 5px #aaa
    code
      font: $code-base-pixel Consolas, "Source Code Pro", "Bitstream Vera Sans Mono", "나눔바른고딕 Light", "Lucida Grande", Helvetica, Arial, sans-serif

  .pages
    text-align: center
    margin: 3em 0
    > span, > a
      padding: 0.4em 0.7em
      border-radius: 0.3em
      margin: 0 0.2em
      border: $secondary-color 1px solid
    > span
      background-color: $secondary-color
      color: $secondary-bg-color
    > a
      background-color: $secondary-bg-color
      color: $secondary-color
      &:hover
        background-color: $secondary-color
        color: $secondary-bg-color

  .content-body
    display: flex
    @media (max-width: $break)
      display: block

    /* subtitle */
    .subtitle
      $tag-side-margin: 2em
      flex: 1
      padding: $top-bottom-margin 0
      text-align: center
      font-family: "Source Code Pro", "나눔바른고딕 Light", "Lucida Grande", Helvetica, Arial, sans-serif
      background-color: $secondary-bg-color
      animation-name: bg-color-light-to-secondary
      animation-duration: $color-change-duration
      @media (max-width: $break)
        padding: 0
        margin-top: 1em
        background-color: $secondary-bg-color
        animation-name: none
        &.about h3
          margin-bottom: -1em
      &.sticky
        background-color: $light-color
        animation-name: bg-color-secondary-to-light
        animation-duration: $color-change-duration
        @media (max-width: $break)
          background-color: $secondary-bg-color
          animation-name: none
      h3
        margin-left: auto
        margin-right: auto
        // The condition is not max. It's MIN.
        @media (min-width: $break)
          width: calc(100vw / 6)
      .tag-div
        $count-width: 2em
        width: calc(100vw / 6)
        @media (max-width: $break)
          display: inline-block
          white-space: nowrap
          width: calc(15vw + 2em)
          margin: 0 1em
        h5
          display: inline-block
          vertical-align: top
          font-weight: normal
          margin: 0
        h5.slur
          max-width: calc(100vw / 6 - #{$count-width})
          @media (max-width: $break)
            max-width: 15vw
        h5.selected
          font-weight: bold
        h5.count
          max-width: $count-width
          margin-left: 0.5em

    /* comment */
    .fb-comments-wrapper
      margin: $top-bottom-margin 0

    /* body */
    .content-view-wrapper
      flex: 5
      .content-view
        $read-more-height: 2em
        position: relative
        // To make .content-preview::after cover other elements -> https://stackoverflow.com/questions/39690977/how-to-specify-a-divs-position-as-absolute-and-relative-at-the-same-time
        > div
          margin: $top-bottom-margin $nested-side-margin
          @media (max-width: $break)
            margin: $top-bottom-margin $nested-side-margin-small
        &.works
          > a > div
            margin: $top-bottom-margin $side-margin
            transition: background-color $color-change-duration
            &:hover
              background-color: $light-color
            @media (max-width: $break)
              margin: $top-bottom-margin $nested-side-margin-small
        &.blog
          width: calc(500vw / 6 - #{$scrollbar-width})
          @media (max-width: $break)
            width: 100%
          > a > div
            margin: $top-bottom-margin $nested-side-margin
            transition: background-color $color-change-duration
            &:hover
              background-color: $light-color
            @media (max-width: $break)
              margin: $top-bottom-margin $nested-side-margin-small
        .content-preview
          height: calc(40vh - #{$read-more-height})
          overflow: hidden
          &::after
            $after-fade-out-height: 5em
            content: ''
            position: absolute
            width: 100%
            height: $after-fade-out-height
            top: calc(40vh - #{$after-fade-out-height} - #{$read-more-height})
            left: 0
            background: linear-gradient(rgba(255, 255, 255, 0) 0px, #fff)
        .read-more
          margin: 0 auto
          height: $read-more-height
          text-align: center
          > a
            color: $link-color
            margin: 0
      /* about - custom design */
      .content-view.about
        h1
          text-align: center
          padding: .5em 0
          margin: 2em calc(#{$side-margin} / 2)
          // text size of h1 is 2em...
          border-bottom: $secondary-color solid 3px
          @media (max-width: $break)
            margin: 2em $nested-side-margin-small
        h2
          display: block
          margin-top: auto
        img
          display: inline
          margin: 0
        .content-wrapper
          margin: 2em 0
        .now
          > div
            padding: $top-bottom-margin $side-margin
            @media (max-width: $break)
              padding: $top-bottom-margin $nested-side-margin-small
          .circle-img
            box-shadow: 0 5px 10px 2px #aaa
          .me
            min-height: 30em
            display: grid
            .content-wrapper
              @media (max-width: $break)
                display: block
                text-align: center
              .img-wrapper
                display: inline-block
                flex: 1
                min-width: 13em
                img
                  width: 10em
                  @media (max-width: $break)
                    width: 5em
              .profile-wrapper
                text-align: left
                display: inline-block
                flex: 5
        .vision
          margin: 0
          > div
            padding: $top-bottom-margin $side-margin
            @media (max-width: $break)
              padding: $top-bottom-margin $nested-side-margin-small
          .circle-img
            box-shadow: 0 5px 10px 2px #aaa
          .content-wrapper
            padding: 0
            margin: 0
            .item
              background-color: rgba(255, 255, 255, 0.6)
              vertical-align: middle
              padding: $top-bottom-margin $side-margin
              @media (max-width: $break)
                padding: 0 $nested-side-margin-small
              .img-wrapper
                width: 13em
                margin: auto 0
                padding: 1em 0
                @media (max-width: $break)
                  width: 100%
                  text-align: center
                img
                  width: 10em
                  height: 10em
                  @media (max-width: $break)
                    width: 5em
                    height: 5em
            &:nth-child(even)
              .img-wrapper
                float: left
            &:nth-child(odd)
              .img-wrapper
                float: right
                text-align: right
                @media (max-width: $break)
                  text-align: center
            .detail
              display: table
        .history
          > div
            margin: $top-bottom-margin $side-margin
            @media (max-width: $break)
              margin: $top-bottom-margin $nested-side-margin-small
          .timeline
            &::before
              content: ''
              position: absolute
              top: 9em
              margin-left: 1.2em
              width: 0.1em
              height: calc(100% - 9em)
              background-color: $light-color
            .event
              margin: 1em 0
              .event-icon
                background-color: $point-color
                width: 2.5em
                height: 2.5em
                text-align: center
                position: absolute
                img
                  height: 1.5em
                  margin: 0.5em 0
              .event-detail
                background-color: $more-light-color
                border-radius: 10px
                position: relative
                margin-left: 4.5em
                padding: 1em
                h4, p
                  margin: 0
                .year
                  font-size: $small-pixel
                  line-height: 0.5em
                  color: $dark-color
                .comment
                  color: $more-dark-color
                  line-height: 1.5em
                &::before
                  content: ''
                  position: absolute
                  left: -1.5em
                  border: 0.5em solid transparent
                  border-right: 1em solid $more-light-color

.footer
  color: $more-light-color
  background-color: $primary-bg-color
  font: $menu-base-pixel "Source Code Pro", "나눔바른고딕 Light", "Bitstream Vera Sans Mono", "Lucida Grande", Helvetica, Arial, sans-serif
  height: calc(100vh - #{$menu-height})
  a
    color: $primary-color
  .v-center-table
    padding-top: 5em
    padding-left: $side-margin
    padding-right: $side-margin
    width: 100%
    @media(max-width: $break)
      padding-left: $nested-side-margin
      padding-right: $nested-side-margin
    td
      .contact-table
        margin: 0 auto
        padding-top: 10%
        text-align: center
        tr
          height: 5em
          td
            width: 5em
            img
              height: 2em
      .copyright
        padding-top: 10%
        width: 100%
        text-align: center
        color: $more-light-color
        font-size: 1em

.no-match
  text-align: center
  width: 100vw
  height: 100vh
  display: table-cell
  color: $primary-color
  background-color: $primary-bg-color
  vertical-align: middle