$primary-color: rgb(255, 255, 255)
$primary-bg-color: rgb(0, 0, 0)
$secondary-color: rgb(0, 0, 0)
$secondary-bg-color: rgb(255, 255, 255)
$light-color: rgb(224, 224, 224)
$link-color: rgb(128, 128, 255)

$menu-height: 4em
$menu-item-width: 10em
$menu-base-pixel: 14px
$content-base-pixel: 16px
$side-margin: 12em
$top-bottom-margin: 3em
$nested-side-margin: 6em
$content-width: calc(100vw - #{$side-margin} - 2 * #{$nested-side-margin})

$color-change-duration: 0.5s

@keyframes bg-color-secondary-to-light
  from
    background-color: $secondary-bg-color
  to
    background-color: $light-color

@keyframes bg-color-light-to-secondary
  from
    background-color: $light-color
  to
    background-color: $secondary-bg-color

body
  width: 100%
  margin: 0
  padding: 0

a
  text-decoration: none

/* markdown */
.md
  table
    line-height: 1.2em
    width: 100%


.nav
  color: $primary-color
  background-color: $primary-bg-color
  font: $menu-base-pixel "Source Code Pro", "나눔바른고딕 Light", "Bitstream Vera Sans Mono", "Lucida Grande", Helvetica, Arial, sans-serif
  text-align: center
  height: 100vh
  a
    color: $primary-color
  .sticky
    z-index: 10
  .main-nav
    height: $menu-height
    .nav-menu-table-wrapper
      width: 100%
      background-color: $primary-bg-color
      height: calc(#{$menu-height} / 2)
      padding: calc(#{$menu-height} / 4) 0
      &.sticky
        position: fixed
        top: 0
        padding: 0
      .nav-menu-table
        margin: 0 auto
        table-layout: fixed
        td
          width: $menu-item-width
          p
            cursor: pointer
            margin: 0

  .v-center-table
    width: 100%
    height: calc(100% - 2 * #{$menu-height})
    td
      font-size: 4em
    .Typist
      display: inline
      .Cursor--blinking
        animation-name: blinker
        animation-duration: 0.7s
        animation-timing-function: linear
        animation-iteration-count: infinite
        @keyframes blinker
          0%
            opacity: 1.0
          50%
            opacity: 0.0
          100%
            opacity: 1.0
  .subnav
    color: $secondary-color
    background-color: $secondary-bg-color
    height: $menu-height
    .subnav-menu-table-wrapper
      width: 100%
      height: calc(#{$menu-height} / 2)
      padding: calc(#{$menu-height} / 4) 0
      animation-name: bg-color-light-to-secondary
      animation-duration: $color-change-duration
      &.sticky
        position: fixed
        background-color: $light-color
        animation-name: bg-color-secondary-to-light
        animation-duration: $color-change-duration
        top: calc(#{$menu-height} / 2)
        padding: 0
      .subnav-menu-table
        margin: 0 auto
        table-layout: fixed
        td
          width: $menu-item-width
          p
            cursor: pointer
            margin: 0

.content
  color: $secondary-color
  background-color: $secondary-bg-color
  font: $content-base-pixel "Bitstream Vera Sans Mono", "나눔바른고딕 Light", "Source Code Pro", "Lucida Grande", Helvetica, Arial, sans-serif
  line-height: 2em
  a
    color: $link-color

  /* main */
  >div
    min-height: calc(100vh - #{$menu-height})
    table
      width: 100%
      border: 0
      border-spacing: 0

      /* subtitle */
      .subtitle
        width: $side-margin
        vertical-align: top
        padding: $top-bottom-margin 0
        text-align: center
        background-color: $secondary-bg-color
        animation-name: bg-color-light-to-secondary
        animation-duration: $color-change-duration
        &.sticky
          background-color: $light-color
          animation-name: bg-color-secondary-to-light
          animation-duration: $color-change-duration
        h3
          font-family: "Source Code Pro", "나눔바른고딕 Light", "Bitstream Vera Sans Mono", "Lucida Grande", Helvetica, Arial, sans-serif

      .about, .blog
        > div
          margin: $top-bottom-margin $nested-side-margin
      .works
        padding: $top-bottom-margin $side-margin

      .content-preview
        $read-more-height: 2em
        position: relative
        > div
          height: calc(70vh - #{$read-more-height})
          overflow: hidden
        &::after
          $after-fade-out-height: 10em
          content: ''
          position: absolute
          width: 100%
          height: $after-fade-out-height
          top: calc(70vh - #{$after-fade-out-height} + 1.1em) // I have no idea why it needs additional 1.1em
          left: 0
          background: linear-gradient(transparent 0px, #fff)
        .read-more
          margin: 0 auto
          height: $read-more-height
          text-align: center
          > a
            color: $link-color
            margin: 0

  /* post body */
  .content-view
    min-height: calc(100vh - #{$menu-height})
    margin: $top-bottom-margin $side-margin


.footer
  color: $light-color
  background-color: $primary-bg-color
  font: $menu-base-pixel "Source Code Pro", "나눔바른고딕 Light", "Bitstream Vera Sans Mono", "Lucida Grande", Helvetica, Arial, sans-serif
  height: calc(100vh - #{$menu-height})
  a
    color: $primary-color
  .v-center-table
    padding-top: 5em
    padding-left: $side-margin
    padding-right: $side-margin
    width: 100%
    td
      .contact-table
        margin: 0 auto
        padding-top: 10%
        text-align: center
        tr
          height: 5em
          td
            width: 5em
            img
              height: 2em
      .copyright
        padding-top: 10%
        width: 100%
        text-align: center
        color: $light-color
        font-size: 1em